<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/members">HOME</a>
    <h1>EKSTRAKURIKULER</h1>
    <ul>
        <li>Program Akselerasi Baca Kitab Kuning</li>
        <li>Tahfidzul Qur'an Ar rofi'i</li>
        <li>LBM (Lajnah Batsul Masail)</li>
        <li>Albanjari (Rijalul Ansor)</li>
        <li>Drumband (Bintang Sembilan)</li>
        <li>Pramuka</li>
        <li>Pagarnusa</li>
      </ul>

</body>
</html>