<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1, h2, p {
            text-align: center;
        }
        h2{
            margin-top: -10px;
        }
    </style>
</head>
<body>
    <h1>PONDOK PESANTREN BUSTANUL ULUM SUMBER ANOM</h1>
    <h2>Angsanah palengaan pamekasan</h2>
    <p> Pondok pesantren bustanul ulum sumber anom angsanah adalah pondok pesantren yg didirikan oleh KH ROFII pada tahun 1920M.tepatnya ada di dusun sumber anom desa angsanah kecamatan palengaan kota pamekasan madura.usia pesantren ini sangatlah tua, karna ditahun 2019 ini, pp sumber anom ini sudah mencapai usia 99 tahun.dalam kurun waktu 99 tahun ini, pp sumber anom sudah mengalami pergantian pengasuh sebanyak empat kali.pengasuh pertama atau pendiri pondok ini adalah KH ROFII, yang kemudian digantikan oleh KH TOYYIB ROFII, Kemudian digantikan oleh adik beliau KH HASYIM ROFII sebagai pengasuh ke 3.dan pengasuh sekarang yaitu KH TAUFIQ HASYIM M.Pd yang sekaligus menjabat sebagai ketua tanfidziyah PCNU PAMEKASAN.</p>
    <p>KH. TAUFIK HASYIM Sebagai pengasuh ke empat di Ponpes Bustanul Ulum Sumber Anom Angsanah Palengaan Pamekasan. Beliau juga merupakan sosok yang sangat di segani baik oleh para santri, alumni, simpatisan dan di kalangan masyarakat sekitar pondok pesantren. Beliau juga merupakan sosok yg sangat bersolidaritas, Sosialitas dan juga sangat dermawan.</p>
    <a href="/produk">LEMBAGA PENDIDIKAN</a>
    <a href="/aku">EKSTRAKURIKULER</a>
</body>
</html>