<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/members">HOME</a>
    <h1>LEMBAGA PENDIDIKAN</h1>
    <ul>
        <li>PAUD(Pendidikan Anak Usia Dini)</li>
        <li>RA</li>
        <li>TK</li>
        <li>MI(Madrasah Ibtidaiyh)</li>
        <li>MTs(Madrasah Tsanawiyah)</li>
        <li>MA(Madrasah Aliyah)</li>
        <li>SMK(Sekolah menengah kejuruan)</li>
        <li>MD(Madrasah Diniyah)</li>
      </ul>
</body>
</html>